body {
  background: url(../img/Hazy_Forest_Road_Wallpaper_qoek0.jpg);
}

.radmenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.radmenu > a {
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
.radmenu > a.show {
  display: flex !important;
}

.radmenu li {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}

.radmenu a {
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 120px;
  display: none;
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
  box-shadow: 0 0 15px #222;
  font-weight: 200;
  font-size: 16px;
}
.radmenu .selected {
  background: rgba(51, 51, 51, 0.9);
  display: flex;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  color: #66ccff;
  box-shadow: 0 0 10px #66ccff;
}
.startgame .selected {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  -webkit-transform: translate(540px,-240px);
  transform: translate(550px,-240px);
}


.menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu {
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: -webkit-calc(80% - 2rem);
  width: calc(80% - 2rem);
  height: -webkit-calc(35% - 2rem);
  height: calc(35% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  padding: 0;
}



.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link.active {
  border:1px solid black;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
}


/*

.radmenu .selected + .choice > li:nth-child(1) {
  -webkit-transform: rotate(72deg) translate(-405px,300px);
  transform:  rotate(72deg) translate(-405px,300px);

}



.radmenu .selected + .choice > li:nth-child(2) {

  -webkit-transform: rotate(144deg) translateY(250px);
  transform: rotate(144deg) translateY(250px);

}

.radmenu .selected + .choice > li:nth-child(3) {

  -webkit-transform: rotate(216deg) translate(70px,115px);
  transform: rotate(216deg) translate(70px,115px);

}

.radmenu .selected + .choice > li:nth-child(4) {

  -webkit-transform: rotate(288deg) translate(220px,100px);
  transform: rotate(288deg) translate(220px,100px);

}
*/
.radmenu .selected + ul > li:nth-child(1) {
  -webkit-transform: rotate(72deg) translateX(100px);
  transform: rotate(72deg) translateX(100px);
}
.radmenu .selected + ul > li:nth-child(1) > a {
  -webkit-transform: rotate(-72deg);
  transform: rotate(-72deg);
}
.radmenu .selected + ul > li:nth-child(2) {
  -webkit-transform: rotate(144deg) translateX(100px);
  transform: rotate(144deg) translateX(100px);
}
.radmenu .selected + ul > li:nth-child(2) > a {
  -webkit-transform: rotate(-144deg);
  transform: rotate(-144deg);
}
.radmenu .selected + ul > li:nth-child(3) {
  -webkit-transform: rotate(216deg) translateX(100px);
  transform: rotate(216deg) translateX(100px);
}
.radmenu .selected + ul > li:nth-child(3) > a {
  -webkit-transform: rotate(-216deg);
  transform: rotate(-216deg);
}
.radmenu .selected + ul > li:nth-child(4) {
  -webkit-transform: rotate(288deg) translateX(100px);
  transform: rotate(288deg) translateX(100px);
}
.radmenu .selected + ul > li:nth-child(4) > a {
  -webkit-transform: rotate(-288deg);
  transform: rotate(-288deg);
}
.radmenu .selected + ul > li:nth-child(5) {
  -webkit-transform: rotate(360deg) translateX(100px);
  transform: rotate(360deg) translateX(100px);
}
.radmenu .selected + ul > li:nth-child(5) > a {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
.radmenu .selected + ul > li > a {
  display: flex;
}

